/* cart.css */

.cart-container {
  padding: 20px;
  max-width:60%;
  margin: 0 auto;
}

.cart-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cart-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  padding: 10px;
}

.cart-item-image {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.cart-item-details {
  padding: 10px;
}

.cart-item-details h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.cart-item-details p {
  margin: 5px 0;
  font-size: 1rem;
}

.cart-item-details p:last-of-type {
  font-weight: bold;
  color: #333;
}

.cart-item-details p span {
  font-weight: normal;
}

.cart-item-details .price {
  color: #e74c3c;
}

.cart-item-details .shipping {
  color: #2ecc71;
}

.cart-item-details .shipping-free {
  color: #2ecc71;
}

.cart-item-details .shipping-priced {
  color: #e74c3c;
}

  .remove{
    margin-top: 20px;
    margin-right: 10px;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color:red;
    color: white;
    cursor: pointer;
  }
  .hide{
    display: none;
  }